<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="whoim.leaveout">

    <!--갤러리 읽기 쓰기 퍼미션-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--카메라 퍼미션-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.INTERNET"/>                   // 인터넷 퍼미션
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>           // 폰번호 퍼미션
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>       //지도 퍼미션
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    //카메라 퍼미션
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />     //갤러리 퍼미션

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <application
        android:name=".CustomFont.CustomStartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--첫 화면-->
        <activity
            android:name=".loginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--회원가입 화면-->
        <activity
            android:name=".JoinActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!--아이디 패스워드 찾기 화면-->
        <activity
            android:name=".FindActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!--메인 화면-->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!--글 쓰기 화면-->
        <activity
            android:name=".WritingActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="nl.changer.polypicker.ImagePickerActivity"
            android:theme="@style/AppTheme"/>

        <!--환경설정 화면-->
        <activity
            android:name=".PreferencesActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <!--카테고리-->
        <activity
            android:name=".PreferencesCategoryActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <!--체크 삭제-->
        <activity
            android:name=".PreferencesCheckViewActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <!--알림 설정-->
        <activity
            android:name=".PreferencesNoticeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <!--글 보기 화면-->
        <activity
            android:name=".ViewArticleActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <!--모아보기 화면-->
        <activity
            android:name=".CollectActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!--친구목록 화면-->
        <activity
            android:name=".FriendListActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!--친구목록 화면-->
        <activity
            android:name=".TagFriendListActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!--프로필 화면-->
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <!--프로필 화면-->
        <activity
            android:name=".CommentActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CategorySelectActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            tools:replace="theme"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".MapAPI.LocationBackground"
            android:enabled="true"
            android:exported="false" />

        <!--구글 Map-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAs6TKQVaOyF3sclxbqMapgHhEMg_WshJE"/>

        // 페이스북
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--7.0버전 이상부터는 URI접근이 되지 않기 때문에 URI에 대해 임시 액세스 권한을 부여-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="whoim.leaveout.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>